VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
VITE_BUNNY_CDN_HOSTNAME=

# FastPix :
VITE_FASTPIX_STREAM_BASE=

VITE_ADMIN_ASSIGN_PASS=

# Ably :
VITE_ABLY_API_KEY=


# Custom secrets :
BUNNY_CDN_HOSTNAME=
BUNNY_TOKEN_AUTH_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=
FASTPIX_API_KEY=